# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
*.egg-info/

# Data & Model files (too large for GitHub)
*.h5
*.pkl
*.csv
*.zip
data/raw/
data/processed/

# Node / React
node_modules/
.next/
build/
dist/

# IDE
.vscode/
.idea/
*.DS_Store

# Jupyter
.ipynb_checkpoints/

# Firebase
firebase-debug.log
.firebase/
serviceAccountKey.json